.website{
margin: 60px 60px 60px 60px;
padding: 50px 50px 50px 50px;
width: 70%;
background-color: white;
}
.inner{ 
    width: 300px;
    background-color: rgb(112, 110, 110);
    height: 400px;
    right: 20%;
    top: 20%;
    border-radius: 50px;
    transform: rotate(95deg);
    z-index: 1;
    position: absolute;
    margin-top: -10%;
    margin-right: -10%;
    overflow: hidden;
}
body{
    background-color: rgb(238, 231, 232);
}
.topRow{
    display: flex;
    gap: 180px;
}
 
.home{
    display: flex;
    gap: 80px;
    height: 550px;
}
#word{
    border: dashed;
}
.amounts{
    display: flex;
    gap: 40px;
}
.start{
    height: 700px;
}
#button{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 150px;
    height: 70px;
    padding: 30px auto;
    background-color: gray;
    color: white;
}
.Logos{
    background-color: white;
    display: flex;
    gap: 120px;
}
.icons{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}
.saller{
    display: flex;
    gap: 80px;
}
 .H2{
    text-align: center;
 }

 .Decor{
    display: flex;
    gap: 70px;
    font-size: larger;
 }

 #shop_button{
    width: 150px;
    height: 70px;
    padding: 30px auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
 }
    
    #decor{
        height: 400px;
        width: 450px;
    }

    nav{
        display: flex;
        gap: 410px;
    }
    #auther{
        height: 40px;
        width: 40px;
    }
    .reviews{
        display: flex;
        gap: 70px;
        font-size: larger;
    }
    .About{
        display: flex;
        gap: 180px;
    
    }
    .Copyright{
        display: flex;
        gap: 800px;

    }
    .feedback{
        display: flex;
        gap: 480px;

    }
    #caret_left{
        color: gray;
    }

    .cost{
        display: flex;
        gap: 120px;
    }
    #new{
        color: red;
    }