.website{
margin: 60px 60px 60px 60px;
padding: 50px 50px 50px 50px;
width: 80%;
background-color: white;



}
body{
    background-color: rgb(238, 231, 232);
}
.topRow{
    display: flex;
    gap: 180px;
}
.corner{
    
}
.home{
    display: flex;
    gap: 80px;
    height: 550px;
}
#word{
    border: dashed;
}
.amounts{
    display: flex;
    gap: 40px;
}
.start{
    height: 700px;
}
#button{
    border-radius: 45% 45% 45% 45%;
    width: 150px;
    height: 70px;
    padding: 30px auto;
    background-color: gray;
    color: white;
}
.Logos{
    background-color: white;
    display: flex;
    gap: 40px;
}
.icons{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    /* justify-content: space-between; */
}
.saller{
    display: flex;
    gap: 80px;
}
 .H2{
    text-align: center;
 }

 .Decor{
    display: flex;
    gap: 70px;
    font-size: larger;
 }

 #shop_button{
    border-radius: 40%;
    width: 150px;
    height: 70px;
    padding: 30px auto;
 }
    
    #decor{
        height: 400px;
        width: 450px;
    }

    nav{
        display: flex;
        gap: 500px;
    }
    #auther{
        height: 40px;
        width: 40px;
    }
    .reviews{
        display: flex;
        gap: 70px;
        font-size: larger;
    }
    .About{
        display: flex;
        gap: 180px;
    }